*{
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
/* color */
.white{
    color: white;
}

.light-white{
    color: #e5e7eb;
}
.grey{
    color: rgb(75, 75, 75);
}
/* color */

/* header */
.header{
    background-color: #1f2937;
    padding: 20px 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-all{
    width: 1030px;
}

.header-top{
    display: flex;
    justify-content: space-between;
}

.header-top .link{
    display: flex;
    gap: 24px;
    font-size: 18px;    
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* header */

/* front-info */
.front-info{
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.front-info .textbox{
    display: flex;
    flex-direction: column;
    width: 500px;
    flex: 0 1 auto;
    
}

.textbox h1{
    font-weight: 900;
    font-size: 48px;
}

.textbox button{
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    font-weight: bold;
    padding: 6px 28px;
    font-size: 18px;
    width: fit-content;
    border: none;
}

.front-info .image{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 220px;
    flex: 0 1 auto;
}
/* front-info */

/* info */

.info{
    padding: 20px 300px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h2{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.info ul{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info li{
    width: 175px;
}
.info p{
    margin: 0;
    padding: 5px;
    text-align: center;
}
.info .image{
    border-color: #3882F6;
    border-style: solid;
    border-radius: 12px;
    border-width: 4px;
    height: 175px;
    width: 175px;
}

/* info */

/* quote */
.quote{
    background-color: #e5e7eb;
    padding: 100px 400px;
}
.quote p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.quote h3{
    padding: 0px 30px;
    font-weight: 900;
    font-size: 26px;
    text-align: end;
}
/* quote */

/* sign up */
.sign-up{
    padding: 50px 300px;
}
.sign-up-box{
    background-color: #3882F6;
    padding: 20px 100px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
}
.sign-up-box h3{
    font-weight: 900;
    font-size: 26px;
    margin: 0;
}
.sign-up-box p{
    margin: 0;
}
.sign-up button{
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    padding: 8px 26px;
    height: fit-content;
    font-weight: bold;
    font-size: 18px;
}

/* sign up */

/* footer */
.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    text-align: center;
}


.note{
    color: white;
    text-align: center;
    flex: auto;
}
/* footer */